.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}
.tabs-scroll::-webkit-scrollbar {
  height: 4px; /* Độ cao thanh scroll nhỏ lại */
}
.tabs-scroll::-webkit-scrollbar-thumb {
  background: #e6c6f7;
  border-radius: 2px;
}
.tabs-scroll::-webkit-scrollbar-track {
  background: transparent;
}

