@tailwind base;
@tailwind components;
@tailwind utilities;
.tabs-scroll::-webkit-scrollbar {
  height: 4px; /* Độ cao thanh scroll nhỏ lại */
}
.tabs-scroll::-webkit-scrollbar-thumb {
  background: #E6C6F7;
  border-radius: 2px;
}
.tabs-scroll::-webkit-scrollbar-track {
  background: transparent;
}
